

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400&family=Tajawal&display=swap');
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h1, h2, h3, h4, h5, h6 {
font-family: 'Playfair Display', serif;
}

p, span, .MuiFormLabel-root, .MuiFormControl-root{
  font-family: 'Tajawal', sans-serif !important;
  font-size: 1em !important;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
