.loginContainer{
    /* border: 1px solid grey; */
    max-width: 80%;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #d0e8f2;
    box-shadow: 0 20px 35px -5px #a6aa9c;
}

#root{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1, h2{
    margin: 30px;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
    h1, h2 {
      font-size: 60px;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    h1, h2 {
      font-size: 30px;
    }
  }