.loginContainer{
    background-color: #d0e8f2;
    box-shadow: 0 20px 35px -5px #a6aa9c;
    min-height: 90vh;
    
}

#root{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

}

h1, h2{
  font-size: 2.5em;
    text-align: center;
    padding: 5px;
}
