.Container {
    text-align: center;
    vertical-align: middle;
}

.calendarHeaderButtons{
    color: black !important;
}

.dayCell{
    background-color:rgba(255,255,255, 0.5);
}

h1{ 
    margin: 20px !important;
}

.navBar {
    width: 100% !important
}
