.Container {
    text-align: center;
    margin: auto;
    width: 60%;
}

.calendarHeaderButtons{
    color: black !important;
}

.dayCell{
    background-color:rgba(255,255,255, 0.5);
}

h1{ 
    margin: 5px !important;
}

.navBar {
    width: 100% !important
}

.calendarContainer{
    width: 100% !important
}