.Container {
    text-align: center;
    vertical-align: middle;
}

.container-main {
    background-color: #FFEFD5;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

}

.daily-reflection {
    background-color: #d2f8d2;
}

.dailyTimeLineWrapper{
    opacity:0;
    height:0;
    
}