/* body{
    background-image: url(../../images/JenOrd.png);
} */

.gridContainer {
    background-color: #d0e8f2;
    border-radius: 10px;
    box-shadow:  0 9px 30px -5px #a6aa9c;
    width: 60%;
}

.MuiInputLabel-outlined{
    /* transform: translate(0, 24px) scale(1) !important */
}

/* .MuiFormControl-root{
    align-items: center;
} */


/* Extra small devices (Tested with Iphone X) */
@media (min-width: 375px) { .gridPadding { padding: 20px 20px 20px 20px !important; margin: auto !important; } }
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { .gridPadding { padding: 20px 20px 20px 20px !important; margin: auto !important; } }
 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { .gridPadding { padding: 20px 20px 20px 20px !important; margin: auto !important; } }
/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { .gridPadding { padding: 20px 20px 20px 20px !important; margin: auto !important; } }
/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { .gridPadding { padding: 20px 20px 20px 20px !important; margin: auto !important; } }

/* Extra small devices (Tested with Iphone X) */
@media (min-width: 375px) { .containerPadding { padding-left: 60px; padding-right: 60px; } }
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { .containerPadding { padding-left: 100px; padding-right: 100px; } }
 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { .containerPadding { padding-left: 130px; padding-right: 130px; } }
/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { .containerPadding { padding-left: 140px; padding-right: 140px; } }
/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { .containerPadding { padding-left: 150px; padding-right: 150px; } }

/* Extra small devices (Tested with Iphone X) */
@media (min-width: 375px) { .paper { min-width: "90vw"} }
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { .paper { min-width: "80vw"} }
 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { .paper { min-width: "80vw"} }
/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { .paper { min-width: "100vw"} }
/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { .paper { min-width: "100vw"} }