.sleepStats, .exerciseStats, .VeggiesStats{
    box-shadow: 0 9px 30px -5px rgba(150,170,180,0.5);
    padding: 12px;
    border-radius: 20px;
    background: #d0e8f2;
    margin-bottom: 40px;
}

.hoursSleepContainer, .coffeeVsSleep, .hoursExerciseContainer, .veggiesContainer, .veggiesVsWater, .exerciseVsCalories{
    box-shadow: 0 9px 30px -5px rgba(150,170,180,0.5);
}

.canvasjs-chart-canvas{
    border-radius: 20px !important;
    border: 6px #d6e4f0 solid;
}

.graphContainer{
    width: 80%;
    border: 1px solid black;
    padding: 0px 20px 20px 0px;
    margin: auto;
    margin-top: 40px;
}


/

/* MEDIA QUERIES */
/* Extra small devices (Tested with Iphone X) */
@media (min-width: 375px) { .confetti {width: 100% !important; height: 100% !important;}}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { .confetti { width: 100% !important; height: 100% !important;}}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { .confetti { width: 100% !important; height: 100% !important;}}
/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { .confetti {width: 100% !important; height: 100% !important;}}
/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { .confetti {width: 100% !important;}} 

/* MEDIA QUERIES */
/* Extra small devices (Tested with Iphone X) */
@media (min-width: 375px) { .MuiTab-root {padding: 0px 12px !important; min-width: 40px !important}}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { .MuiTab-root { padding: 0px 0px !important; min-width: 100px !important}}
/* @media (min-width: 600px) {.MuiTab-root {min-width: 100px !important;}} */
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { .MuiTab-root { padding: 6px 12px !important; min-width: 100px !important;}}
/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { .MuiTab-root {padding: 6px 12px !important; min-width: 160px !important}}
/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { .MuiTab-root {padding: 6px 12px !important; min-width: 200px !important}} 



.center {
    margin: auto;
    width: -20%;

  }

  .wordDiv {
      display: flex;
      justify-content: center;
      background-color: #F7EFE8;
      border-radius: 25px;
  }

  .wordCloud {
      object-fit: contain;
  }