.sleepStats, .exerciseStats, .VeggiesStats{
    box-shadow: 0 9px 30px -5px rgba(150,170,180,0.5);
    padding: 12px;
    border-radius: 20px;
    background: #d0e8f2
}

.hoursSleepContainer, .coffeeVsSleep, .hoursExerciseContainer, .veggiesContainer, .veggiesVsWater, .exerciseVsCalories{
    display: inline-block;
    margin:25px 4px;
    box-shadow: 0 9px 30px -5px rgba(150,170,180,0.5);
    border-radius: 20px !important;
    border: .5 solid grey
}

.canvasjs-chart-canvas{
    border-radius: 20px !important;
    border: 6px #d6e4f0 solid;
}

/* .makeStyles-root-1{
    max-width: 99%;
    margin: 50px 10px 20px 20px;
}  */

/* MEDIA QUERIES */
/* Extra small devices (Tested with Iphone X) */
@media (min-width: 375px) { .hoursSleepContainer, .hoursExerciseContainer, .veggiesContainer { width: 100% !important} }
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { .hoursSleepContainer, .hoursExerciseContainer, .veggiesContainer { width: 100% !important} }
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { .hoursSleepContainer, .hoursExerciseContainer, .veggiesContainer { width: 100% !important}  }
/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { .hoursSleepContainer, .hoursExerciseContainer, .veggiesContainer { width: 45% !important} }
/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { .hoursSleepContainer, .hoursExerciseContainer, .veggiesContainer {width: 45% !important} } 

/* MEDIA QUERIES */
/* Extra small devices (Tested with Iphone X) */
@media (min-width: 375px) { .coffeeVsSleep, .exerciseVsCalories, .veggiesVsWater {width: 100% !important} }
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { .coffeeVsSleep, .exerciseVsCalories, .veggiesVsWater { width: 100% !important} }
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { .coffeeVsSleep, .exerciseVsCalories, .veggiesVsWater { width: 100% !important}  }
/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { .coffeeVsSleep, .exerciseVsCalories, .veggiesVsWater {width: 45% !important} }
/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { .coffeeVsSleep, .exerciseVsCalories, .veggiesVsWater {width: 45% !important} } 



.graphContainer{
    width: 80%;
    border: 1px solid black;
    padding: 0px 20px 20px 0px;
    margin: auto;
    margin-top: 40px;
}

.hoursSleepContainer, .hoursExerciseContainer, .veggiesContainer {
    margin-bottom: 5rem;
}
