.hoursSleepContainer, .coffeeVsSleep{
    border: .5px solid grey ;
    width: 50%;
    display: inline-block;
}


.graphContainer{
    width: 80%;
    border: 1px solid black;
    padding: 0px 20px 20px 0px;
    margin: auto;
    margin-top: 40px;
}

.hoursSleepContainer {
    margin-bottom: 5rem;
}
