.Container {
    text-align: center;
    vertical-align: middle;
}

.container-main {
    background-color: #f5efe3 !important;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

}

.daily-reflection {
    background-color: #d2f8d2;

}